# Virtual Environment
camera-tracking-env/
venv/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local Settings / Data
.vscode/
.idea/
.DS_Store
ceres-solver/
# Build directories
build/
*.o
*.a
# OpenCV built from source
opencv/
opencv_contrib/
# Ceres solver built
ceres-solver/
# Python environments
.venv/
camera-tracking-env/
